<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вход в систему</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" name="username" id="username" placeholder="Введите имя пользователя" required>
                <span class="error">{{ form.username.errors }}</span>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password" placeholder="Введите пароль" required>
                <span class="error">{{ form.password.errors }}</span>
            </div>
            <button type="submit" class="confirm">Войти</button>
        </form>
        <button type="submit" class="redir m-t-10px"
        onclick="location.href='{% url 'register' %}'">Зарегистрироваться</button>
    </div>
</body>
</html>
