/* make.css */
:root {
    --red: hsla(0, 87%, 75%, 1);
    --red-hover: hsla(0, 87%, 72%, 1);

    --d-red: hsla(0, 87%, 60%, 1);
    --d-red-hover: hsla(0, 87%, 55%, 1);
    
    --l-blue: hsla(200, 60%, 75%, 1);
    --d-blue: hsla(200, 60%, 60%, 1);
    --d-blue-hover: hsla(200, 65%, 55%, 1);
    
    --l-yellow: hsla(50, 82%, 75%, 1);
    --yellow: hsla(50, 82%, 63%, 1);
    --yellow-hover: hsla(50, 82%, 60%, 1);

    --green: hsla(120, 60%, 75%, 1);
    --l-green: hsla(120, 60%, 85%, 1);
    --green-hover: hsla(120, 60%, 72%, 1);
    --d-green: hsla(120, 60%, 60%, 1);
    --d-green-hover: hsla(120, 65%, 55%, 1);
    
    --v-gray: #333333;
    --d-gray: #666666;
    --m-gray: #a0a0a0;
    --l-gray: #ececec;

    --error: #b57585;

    --transition-fast: 0.1s;
    --transition-avg: 0.2s;
    --transition-slow: 0.3s;
    --transition-very-slow: 0.5s;
    --transition-very-very-slow: 1s;
    --transition-very-very-very-slow: 2s;
}

.make-mark-filtered {
  filter: opacity(1) blur(0) brightness(1);
  transition: filter var(--transition-slow) ease;
}

.make-mark-deactivated {
  filter: opacity(0.9) blur(1px) brightness(1.2);
}

.make-mark-changed {
    position: relative;
}

.make-mark-changed::before{
    border-radius: 12px;
    border: 2px dashed black;
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fc02;
    pointer-events: none;
    z-index: 1;
}

/* fix agent */
p, form, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.make-content {
    color: #444;
    padding: 8px;
    font-size: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 20px #0002;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.01, 1),
                color 0.3s ease,
                box-shadow 0.1s ease,
                padding-right 0.5s cubic-bezier(0, 0, 0.01, 1);}

.make-popup {
    font-size: 16px;
    background: #fffa;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 0 20px #0003;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.make-contented {
    color: #444;
    padding: 8px;
    font-size: 20px;
    background-color: white;
    border-radius: 12px;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.01, 1),
                color 0.3s ease,
                padding-right 0.5s cubic-bezier(0, 0, 0.01, 1);}

.make-notice-body {
    padding: 8px;
    border-radius: 12px;
}

.make-card {
    cursor: pointer;
}

.make-card-header {
    cursor: pointer;
}

.make-card-header-additional {
    border-radius: 10px;
}

.make-card-content {
    overflow: hidden;
    transition: height 300ms ease;
}

.make-card-content-additional {
    border-radius: 10px;
}

/* buttons */
.btn {
    border-radius: 12px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--d-blue);
    color: white;
    padding: 1%;
    transition: background-color var(--transition-slow) ease;
}
.btn-primary:hover {
    background-color: var(--d-blue-hover);
}
.btn-warning {
    background-color: #ffc107;
    color: black;
}
.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-link {
    background: transparent;
    color: #007bff;
    text-decoration: underline;
}
.btn-sm {
    padding: 3px 6px;
    font-size: .875rem;
}
.make-btn-redir {
    text-align: left;
    background-color: #ddd;
    color: #222;
    transition: background-color var(--transition-avg) ease;
}

.make-btn-redir:hover {
    background-color: #bce;
}


.make-squared {
    aspect-ratio: 1;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}
.make-squared::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.make-btn-action {
    text-align: center;
    background-color: #ddd;
    color: #222;
    transition: background-color var(--transition-avg) ease;
}

.make-img-btn {
    text-align: center;
    background-color: #fff;
    transition: background-color var(--transition-avg) ease;
}
.make-img-bnt.make-btn-action-neutral:hover,
.make-btn-action.make-btn-action-neutral:hover {background-color: #bce; }
.make-img-bnt.make-btn-action-positive:hover,
.make-btn-action.make-btn-action-positive:hover {background-color: #bec;}
.make-img-bnt.make-btn-action-negative:hover,
.make-btn-action.make-btn-action-negative:hover {background-color: #ebc;}
.make-img-bnt.make-btn-action-alternative:hover,
.make-btn-action.make-btn-action-alternative:hover {background-color: #ecb;}

.make-button {
    border-radius: 12px;
}

/* tabs */
.make-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.make-tabs-menu {
    display: flex;
    flex-direction: row;
}
.make-tabs-menu-scroll {
    overflow-x: scroll;
}
.make-tabs-menu-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;}
.make-tabs-menu-scroll::-webkit-scrollbar-thumb {
    background-color: #0002;
    border-radius: 10px;}
.make-tabs-menu-scroll::-webkit-scrollbar-track {
    background: transparent;}

.make-tab-button {
    cursor: pointer;
    flex: 1;
    transition: filter var(--transition-very-slow) ease;
}

.make-tab-button:hover {
    filter: brightness(0.95);
    transition: filter var(--transition-avg) ease;
}

.make-tab-button.active {
    border-color: #000;
}
.make-tabs-content {
    padding: 15px;
}

.make-tab-content {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  height: auto;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease;
}

.make-tab-content[hidden] {
  opacity: 0;
  transform: translateY(-10px);
  height: 0;
}

/* flexibility */
.make-flex{
    flex: 1;
    display: flex;
}
.make-flex-row{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.make-flex-column{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.make-gap-10px {
    gap: 10px;
}
.make-gap-6px {
    gap: 6px;
}

/* form elements parameters*/
.make-form-group {
    flex: 1;
    text-align: left;
}
.make-delayed-margin-on-hover {
    filter: brightness(0.98);
    transition: margin-left var(--transition-very-very-slow) ease,
                filter var(--transition-very-very-slow) ease;
}
.make-delayed-margin-on-hover:hover {
    margin-left: 0.5%;
    filter: brightness(0.95);
    transition-duration: var(--transition-avg)
}

/* link */
.make-simple-link:visited,
.make-simple-link {
    color: var(--d-gray);
    font-size: 16px;
    text-decoration: none;
    transition: color var(--transition-avg) ease;
}
.make-simple-link:hover {
    color: var(--m-gray);
}

.make-text-italic {
    font-style: italic;
}

.make-text-subtitle {
    color: #888;
    transition: color var(--transition-slow) ease;
}

.make-text-subtitle:hover {
    color: #555;
}

.make-text-bold {
    font-weight: bold;
    letter-spacing: -0.025em;
}

/* colors */
.make-color-error {
    color: var(--error);
}

.make-l-gray {
    background-color: var(--l-gray);
}
.make-m-gray {
    background-color: var(--m-gray);
}
.make-d-gray {
    background-color: var(--d-gray);
}
.make-v-gray {
    background-color: var(--v-gray);
}

.make-it-centered {
    align-items: center;
    justify-content: center;
}

.make-it-text-centered {
    text-align: center;
}

.make-little-darker {
    position: relative;
}

.make-little-darker::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #0001;
    pointer-events: none;
    z-index: 1;
}

.make-little-lighter {
    position: relative;
}

.make-little-lighter::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fff1;
    pointer-events: none;
    z-index: 1;
}

.make-color-white {
    background-color: white;
}
.make-color-red {
    background-color: var(--red);
}
.make-color-d-red {
    background-color: var(--d-red);
}
.make-color-blue {
    background-color: var(--d-blue);
}
.make-color-l-blue {
    background-color: var(--l-blue);
}
.make-color-yellow {
    background-color: var(--yellow);
}
.make-color-l-yellow {
    background-color: var(--l-yellow);
}
.make-color-green {
    background-color: var(--green);
}
.make-color-l-green {
    background-color: var(--l-green);
}

/* ordering */
.make-text-align-left {
    text-align: left;
}

/* scrollbox */
.make-scrollbox {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;}
.make-scrollbox::-webkit-scrollbar {
    width: 12px;
    height: 12px;}
.make-scrollbox::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid transparent;}
.make-scrollbox::-webkit-scrollbar-track {
    margin-left: 100px;
    background: transparent;}


/* toggle button */
.make-toggle-button-container {
    display: inline-block;
}

.make-toggle-button-container .make-button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 12px;
    border: 2px solid var(--l-gray);
    background-color: white;
    color: var(--d-gray);
    transition: all var(--transition-slow) ease;
}

.make-toggle-button-container .make-button:hover {
    background-color: var(--l-gray);
    border-color: var(--m-gray);
    transition: all var(--transition-avg) ease;
}

.make-toggle-button-container .make-button.make-toggle-active {
    background-color: var(--d-blue);
    border-color: var(--d-blue);
    color: white;
    filter: brightness(1);
}

.make-toggle-button-container .make-button.make-toggle-active:hover {
    background-color: var(--d-blue-hover);
    border-color: var(--d-blue-hover);
    filter: brightness(0.95);
    transition: all var(--transition-avg) ease;
}

/* memes */
.make-goose p {
    margin-top: -5px;
}

/* animatic */
.make-margin-on-hover {
    transition: margin-left 0.2s ease }
.make-margin-on-hover:hover {
    margin-left: 0.8%;
    transition: margin-left 0.2s ease;}