{% load static %}

{{ form_data|json_script:"form-data" }}
{{ errors|json_script:"errors-data" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'deps/make/make.css' %}">
  <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">

  <title>Сервис заявок</title>
</head>

<body>
  <div class="page-container">
    <div class="side-container gap-10px" id="left-container">
    </div>
  </div>
</body>
</html>

<script type="module">
  //await import("{% static 'collected/static.js' %}");
  await import("{% static 'deps/make/make.js' %}");
  document.getElementById('left-container').appendChild(
    make.Div(
      make.Paragraph("TEST")
    ).build()
  )
  document.getElementById('left-container').appendChild(
    make.Div(
      make.style.padding(12),
      make.it.flexColumn,
      make.style.height(0),
      make.color.lblue,
      make.Scrollbox(
        make.color.lgreen,
        ...[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,1,1,1,1,1,1,1,1,1,1].map(() =>
          make.Card(
                make.it.littleDarker,
                make.style.padding(6),
                make.style.rounded(12),
            ).header(make.Paragraph('ttt')
            ).content(
                make.Separator(6),
                make.style.height('100%'),
                make.Div(
                    make.it.littleDarker, 
                    make.style.padding(6),
                    make.style.rounded(12),
                    make.it.flexColumn,
                    make.style.gap(6),
                )
            )
        )
      )
    ).build()
  )
</script>