{% load static %}
{{ form_data|json_script:"form-data" }}
{{ errors|json_script:"errors-data" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'deps/make/make.css' %}">
  <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">

  <title>Сервис заявок</title>
</head>

<body>
  <div class='container p-1p content w-40p' id="form-template">
  </div>
</body>
</html>

<script type="module">
  await import("{% static 'collected/static.js' %}");
  //await import("{% static 'deps/make/make.js' %}");
  const maindiv = document.getElementById('form-template');
  let content;
  let accordion;

  const aaaaaaaaa = make.Div(
    make.it.flexColumn,
    make.it.gap10px,
    make.Card(
      make.color.green,
      make.style.rounded(12),
      make.style.padding(8),
    )
    .header(
      make.Paragraph("Вкладки без скролла"),
      make.Separator(4),
    )
    .content(
      make.color.lgreen,
      make.style.rounded(12),
      make.Tabs(
        make.style.margin(8),
      )
      .menu(
        make.style.padding(8),
        make.style.rounded(12),
        make.it.littleDarker,
        make.it.flexRow,
        make.style.gap(8)
      )
      .tab('Тестовая вкладка 1')
      .onOpen.sub(() => {make.Notice([500, 2500, 500, 'tetst', {weak: true}], make.Div(make.h1('TEST')))})
        .header(
          make.it.contented,
          make.Paragraph('Вкладка 1'),
          make.Button(
            make.it.redir,
            make.with.text('bnt'),
            make.on.click((e) => {
              e.stopPropagation()
              make.Notice([500, 1000, 500],
                make.Div(
                  make.style.rounded(12),
                  make.style.padding(12),
                  make.color.green,
                  make.Paragraph("bnt tab 1")
                )
              )
            })
          )
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Текстовый контент'),
          make.Paragraph('На вкладке 1')
        )
      .tab('Тестовая вкладка 2')
        .header(
          make.it.contented,
          make.Paragraph('Вкладка 2'),
          make.Button(
            make.it.redir,
            make.with.text('bnt'),
            make.on.click((e) => {
              e.stopPropagation()
              make.Notice([500, 1000, 500],
                make.Div(
                  make.style.rounded(12),
                  make.style.padding(12),
                  make.color.yellow,
                  make.Paragraph("bnt tab 2")
                )
              )
            })
          )
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Другой текстовый контент'),
          make.Paragraph('На вкладке 2')
        )
      .tab('Тестовая вкладка 3')
        .header(
          make.it.contented,
          make.Paragraph('Вкладка 3')
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Другой текстовый контент eragrgagrdgsdrgdxr'),
          make.Paragraph('На вкладке 3'),
          make.Paragraph('На вкладке 3'),
          make.Paragraph('На вкладке 3')
        )
    ),
    make.Card(
      make.color.dred,
      make.style.padding(8),
      make.style.rounded(12),
    )
    .header(
      make.Paragraph('Вкладки с включённым скроллом'),
      make.Separator(4),
    )
    .content(
      make.color.red,
      make.style.rounded(12),
      make.Tabs({scroll: true},
        make.style.margin(8),
        make.it.flexColumn,
      )
      .menu(
        make.style.padding(8),
        make.style.rounded(12),
        make.it.littleLighter,
        make.it.flexRow,
        make.style.gap(8)
      )
      .tab()
        .header(
          make.with.style({minWidth: '100px'}),
          make.it.contented,
          make.Paragraph('Вкладка 1')
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Текстовый контент'),
          make.Paragraph('На вкладке 1')
        )
      .tab('Тестовая вкладка 2')
        .header(
          make.with.style({minWidth: '100px'}),
          make.it.contented,
          make.Paragraph('Вкладка 2')
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Другой текстовый контент'),
          make.Paragraph('На вкладке 2')
        )
      .tab('Тестовая вкладка 3')
        .header(
          make.with.style({minWidth: '100px'}),
          make.it.contented,
          make.Paragraph('Вкладка 3')
        )
        .content(
          make.it.flexColumn, make.it.leftAlign,
          make.Paragraph('Другой текстовый контент eragrgagrdgsdrgdxr'),
          make.Paragraph('На вкладке 3'),
          make.Paragraph('На вкладке 3'),
          make.Paragraph('На вкладке 3')
        )
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 4"))
      .content(make.h1("Тестовая вкладка 4"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 5"))
      .content(make.h1("Тестовая вкладка 5"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 6"))
      .content(make.h1("Тестовая вкладка 6"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 7"))
      .content(make.h1("Тестовая вкладка 7"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 8"))
      .content(make.h1("Тестовая вкладка 8"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 9"))
      .content(make.h1("Тестовая вкладка 9"))
      .tab()
      .header(make.with.style({minWidth: '100px'}), make.Paragraph("Тестовая вкладка 0"))
      .content(make.h1("Тестовая вкладка 0"))
    )
  );

  maindiv.appendChild(aaaaaaaaa.build());
  window.aaaaaaaaa=aaaaaaaaa
</script>
