{% load static %}

{{ form_data|json_script:"form-data" }}
{{ errors|json_script:"errors-data" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'deps/make/make.css' %}">
  <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">

  <title>Сервис заявок</title>
</head>

<body>
  <div class='container p-1p' id="form-template">
  </div>
</body>
</html>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");
  var collector;
  var area;
  var collector2;
  var area2;
  document.getElementById('form-template').appendChild(
    make.Div(
      make.it.content,
      make.it.flexRow,
      make.style.width('80%'),
      make.style.gap(12),
      make.Input(
        make.with.attr({placeholder: 'Сюда писать буквы'}),
        make.on.inputTimeOut(
          3000, () => {
            make.Notice(500, 500, 500,
              make.Div(
                make.it.content,
                make.Paragraph('Отработано!!!')
              )
            )
            console.log('Отработано!!!')
          }
        )
      )
    ).build()
  )
</script>