{% load static %}
{{ form_data|json_script:"form-data" }}
{{ errors|json_script:"errors-data" }}

<!DOCTYPE html>
<html lang="en">
<head>
  {% csrf_token %}
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'deps/make/make.css' %}">
  <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">

  <title>Сервис заявок</title>
</head>

<body>
  <div class='container p-1p content w-40p' id="form-template">
  </div>
</body>
</html>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");
  const maindiv = document.getElementById('form-template')
  const innerMakeTemplate = make.Tabs(
    make.Tab('tab 1',
      make.TabContent(
        make.Paragraph(make.with.text('Контент 1'))
      )
    ),
    make.Tab('tab 2',
      make.TabContent(
        make.Paragraph(make.with.text('Контент 2'))
      )
    ),
    make.Tab('tab 3',
      make.TabContent(
        make.Paragraph(make.with.text('Контент 3'))
      )
    )
  )
  
  maindiv.appendChild(innerMakeTemplate.build())
  

</script>