{% load static %}
{{ form_data|json_script:"form-data" }}
{{ errors|json_script:"errors-data" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'deps/make/make.css' %}">
  <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">

  <title>Сервис заявок</title>
</head>

<body>
  <div class='container p-1p content w-40p' id="form-template">
  </div>
</body>
</html>

<script type="module">
  await import("{% static 'collected/static.js' %}");
  //await import("{% static 'deps/make/make.js' %}");
  const csrfObj = await make.Query('/api/csrf-token').get()
  const data = JSON.parse(document.getElementById("form-data").textContent);
  const errors = JSON.parse(document.getElementById("errors-data").textContent);
  const otherPages = [
    make.h1('TESTS',
      make.on.click(() => {
        window.location.href = '/users/testbox/'
      })
    ),
    make.h1('SB-1',
      make.on.click(() => {
        window.location.href = '/users/sandbox/'
      })
    ),
    make.h1('SB-2',
      make.on.click(() => {
        window.location.href = '/users/sandbox2/'
      })
    ),
    make.h1('SB-3',
      make.on.click(() => {
        window.location.href = '/users/sandbox3/'
      })
    ),
    make.h1('admin',
      make.on.click(() => {
        window.location.href = '/admin/'
      })
    )
  ]

  const title = make.Div(
    make.it.flexRow,
    make.it.centered,
    make.style.gap(10),
    make.h1(data.title),
    //...otherPages
  );
  const fields = make.Form(
    make.it.flexColumn,
    make.it.gap10px,
    make.with.attr({
      method: 'post',
      action: data.action,
    }),
    make.with.csrf(csrfObj.csrfToken),
    ...data.fields.map(el =>
      make.Div(
        make.it.formGroup,
        ...(el.type === 'enum' ? [] : [make.it.delayedMarginOnHover]),
        make.Label(
          make.with.text(el.label),
          make.with.attr({ for: el.id })
        ),
        el.type !== 'enum' ?
        make.Input(
          make.style.padding(6),
          make.with.attr({
            id: el.id,
            name: el.id,
            type: el.type,
            placeholder: el.placeholder
          }),
          make.with.attrs(...el.attrs)) :
          make.Select(
            make.with.attr({ name: el.id, id: el.id }),
            make.with.attrs(...el.attrs),
            make.OptionPlaceholder(el.placeholder),
            ...el.enum.map(elEnum =>
              make.Option(elEnum.text, elEnum.value)
          )
        )
      )
    ),
    make.Button(
      make.it.onConfirmationMargin,
      make.it.primary,
      make.with.text(data.btn_confirm),
      make.with.attr({type: 'submit'})
    )
  );

  const bottomStuff = make.Div(
    make.Separator(),
    make.Link(
      make.it.simpleLink,
      make.with.text(data.sub_btn_link_text),
      make.with.attr({ href: data.sub_btn_link }),
    ),
    make.Separator(),
    make.Div(
      make.it.flexColumn,
      make.it.gap6px,
      ...data._errors.map(err =>
        make.Paragraph(
          make.it.delayedMarginOnHover,
          make.it.leftAlign,
          make.it.textItalic,
          make.color.error,
          make.with.text(err.text),
          make.with.attr({ description: err.desc }),
          make.on.click(async e => {
            const el = e.target;
            const desc = el.getAttribute('description');
            if (!desc) return;

            const isToggled = el.dataset.toggled === 'true';
            const targetText = isToggled ? el.dataset.orig : desc;
            const isInAction = el.dataset.isInAction === 'true';

            if (!isInAction) {
              el.dataset.isInAction = 'true';
              if (!isToggled) {
                el.dataset.orig = el.textContent;
                el.dataset.toggled = 'true';
              } else {
                el.dataset.toggled = 'false';
              }
              while (el.textContent) {
                el.textContent = el.textContent.slice(0, -1);
                await new Promise(r => setTimeout(r, 5));
              }
              for (let ch of targetText) {
                el.textContent += ch;
                await new Promise(r => setTimeout(r, 15));
              }
              el.dataset.isInAction = 'false';
            }
          })
        )
      )
    )
  );

  const container = document.getElementById("form-template");
  container.appendChild(title.build());
  container.appendChild(fields.build());
  container.appendChild(bottomStuff.build());
</script>