{% load static %}

<div id="left-exit-button"></div>

<div class="content", id="left-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");

  function exitButtonInvariant(text, style) {
    return make.Button(
      make.with.text(text),
      make.with.css("content", style, "flex"),
      make.on.click(() => window.location.href="/applications/dashboard/"),
    )
  }

  function paragraphNotice(text, addit) {
    make.Notice(500, 500, 500,
      make.Div(
        make.it.content,
        addit,
        make.Paragraph(text)
      )
    )
  }

  function popup(time = 1500, text = []) {
    if (typeof time === 'string' || Array.isArray(time)) {
      text = time;
      time = 1500;
    }
    if (typeof text === 'string') text = [text];

    return make.Annotation(
      time,
      make.Div(
        make.it.popup,
        ...text.map(txt => make.Paragraph(txt))
      )
    );
  }

  function deletionNotice(container, component, name, placeholder="PLACEHOLDER", deletion=()=>{}) {
    let result
    make.UniqueNotice("deletion", 500, Infinity, 500,
      make.Div(
        make.it.flexColumn,
        make.style.gap(6),
        make.it.contented,
        make.Paragraph(`Удалить ${name ? name : placeholder}?`),
        make.Div(
          make.it.flexRow,
          make.style.gap(6),
          make.Button(
            make.it.action,
            make.it.act.negative,
            make.with.text("Удалить"),
            make.on.click(() => {
              container.removeChild(component),
              make.other.closeCurrentNotice()
              deletion()
            })
          ),
          make.Button(
            make.it.action,
            make.it.act.alternative,
            make.with.text("Отмена"),
            make.on.click(() => {
              make.other.closeCurrentNotice()
            })
          ),
        )
      )
    )
  }

  function shareNotice(container, component, name, placeholder="PLACEHOLDER", deletion=()=>{}) {
    let result
    make.UniqueNotice("share", 500, Infinity, 500,
      make.Div(
        make.it.flexColumn,
        make.style.gap(6),
        make.it.contented,
        make.Paragraph(`Поделиться ${name ? name : placeholder} с другими отделами?`),
        make.Paragraph(`Это действие невозможно будет отменить`, make.it.textBold),
        make.Div(
          make.it.flexRow,
          make.style.gap(6),
          make.Button(
            make.it.action,
            make.it.act.alternative,
            make.with.text("Поделиться"),
            make.on.click(() => {
              container.removeChild(component),
              make.other.closeCurrentNotice()
              deletion()
            })
          ),
          make.Button(
            make.it.action,
            make.it.act.alternative,
            make.with.text("Отмена"),
            make.on.click(() => {
              make.other.closeCurrentNotice()
            })
          ),
        )
      )
    )
  }

  function picButton(pic, txt, style=[], onClick=()=>{}) {
    if (!Array.isArray(style)) {
      style = [style, ]
    }
    return make.Div(
      make.Button(
        popup(800, txt),
        make.it.action,
        ...[style],
        make.style.padding(6),
        make.Image(
          `{{ MEDIA_URL }}${pic}.png`,
          make.it.flex,
          make.with.style({width: "24px", height: "24px"}),
        ),
        make.on.click(onClick)
      )
    )
  }

  function enumElem({id, value, ph, enabled=true, container, visible, makeQuery, test=false}) {
    let acc;
    let out = make.Div(make.it.marginOnHover)
    out.id = id
    let inp
    inp = make.Input(
      make.with.attr({
        value: value,
        placeholder: ph ? ph : value ? value : "Пустой элемент"
      }),
      make.on.change((e) =>
        out.element.classList.add("make-mark-changed")
      ),
      ...make.if(!enabled,
        make.style.padding(6),
        make.with.attrs("disabled"),
        make.Annotation(1500, 
          make.Div(
            make.it.popup,
            make.Paragraph("Вы не можете редактировать этот элемент"),
          )
        ),
      ),
      ...make.if(enabled,
        make.Annotation(1500, 
          make.Div(
            make.it.popup,
            make.Paragraph("Нажмите на поле ввода для редактирования"),
            make.Paragraph("Если элемент подсвечен, то его необходимо сохранить!"),
          )
        )
      )
    )
    inp.build()
    acc = make.Div(
      make.with.css("make-mark-filtered"),
      ...make.if(!visible,
        make.with.css("make-mark-deactivated")
      ),
      make.it.flexRow,
      make.style.gap(6),
      inp,
      ...make.if(enabled,
        picButton("save", "Сохранить текст элемента", make.it.act.positive,
        () => {
          out.element.classList.remove("make-mark-changed")
          if (!test) {
            makeQuery.at(out.id).with({value: inp.element.value}).patch()
            paragraphNotice("Сохранено!", make.color.lgreen)
          }
        }),
        picButton("hide", "Скрыть элемент от пользователя", make.it.act.alternative,
        () => {
          acc.element.classList.toggle("make-mark-deactivated")
          if (!test) {
            makeQuery.at(out.id).with({visible: !visible}).patch()
            paragraphNotice("Видимость изменена!", make.color.yellow)
          }
        }),
        picButton("trash", "Удалить элемент", make.it.act.negative,
        () => {
          if (!test) {
            deletionNotice(
              container, out, inp.element.value,
              "*пустой элемент*", ()=>{
                makeQuery.at(out.id).with({available: false}).patch()
                paragraphNotice("Удалено!", make.color.red)
              }
            )
          }
        }),
      )
    )
    out.addChild(acc)
    return out
  }

  function createCollector(items, enabled=true) {
    let collector = make.Scrollbox(
      make.with.style({maxHeight: "89vh"}),
      make.it.flexColumn,
      make.style.gap(6)
    )
    collector.addModifiers(
      ...items.map((item) => 
        enumElem({
          id: item.id,
          value: item.value,
          visible: item.visible,
          enabled: enabled,
          container: collector,
          makeQuery: qEnum,
        })
      )
    )
    return collector
  }
  
  function enumElemButtonAdd(enumCollector, qEnum, tag) {
    return make.Button(
      make.it.action,
      make.it.act.neutral,
      make.with.text("Добавить элемент"),
      make.on.click(
        async () => {
          let enEl = enumElem({
            container: enumCollector,
            makeQuery: qEnum,
            ...(
              await qEnum.with({
                enum_tag: tag.id
              }).post()
            ),
          })
          enumCollector.addChild(enEl)
          paragraphNotice("Создано!", make.color.lblue)
          enEl.element.querySelector("input").focus()
        }
      )
    )
  }

  function centerComponent(qEnumm, items, tag, me) {
    return make.Div(
      make.it.flexColumn,
      make.style.gap(6),
      enumCollector = createCollector(items, tag.department === me.department.id),
      ...make.if(
        tag.department === me.department.id,
        make.Div(
          make.it.flexRow,
          make.style.gap(6),
          enumElemButtonAdd(enumCollector, qEnum, tag)
        ),
      ),
    ).build()
  }

  function enumTagPopup(owner_dep) {
    if (owner_dep) {
      return popup([
        "Это перечисление вашего отдела",
        "Кликните по полю ввода для управления элементами"])
    } else {
      return popup([
        "Другой отдел поделился этим перечислением",
        "Вы не можете его редактировать. Кликните для просмотра"
      ])
    }
  }

  async function fillCenter(qEnum, qEnumTag, tag, me) {
    let center = document.getElementById("center-content")
    center.innerHTML = ""
    center.appendChild(
      centerComponent(qEnum, (await qEnumTag.at(tag.id).at("items").get()), tag, me)
    )
  }

  function enumTagElem(qEnum, qEnumTag, acc, me, tag, test=false) {
    let out
    let inp
    let shareBtn
    console.log('check', tag)
    inp = make.Input(
      ...make.if(tag.department !== me.department.id,
        make.with.attrs('readonly')
      ),
      make.on.change((e) =>
        out.element.classList.add("make-mark-changed")
      ),
      enumTagPopup(tag.department === me.department.id),
      make.with.attr({ value: tag.name }),
      make.style.padding(6),
      make.on.click(async () => await fillCenter(qEnum, qEnumTag, tag, me))
    )
    out = make.Div(
      ...make.if(!tag.visible,
        make.with.css("make-mark-deactivated")
      ),
      make.it.flexRow, make.style.gap(6), make.it.marginOnHover, inp,
      ...make.if(!tag.shared || tag.department === me.department.id,
        picButton("save", "Сохранить имя группы", make.it.act.positive,
        () => {
          out.element.classList.remove("make-mark-changed")
          if (!test) {
            qEnumTag.at(tag.id).with({name: inp.element.value}).patch()
            paragraphNotice("Сохранено!", make.color.lgreen)
          }
        }),
        picButton("hide", "Скрыть из вариантов при создании форм", make.it.act.alternative,
        () => {
          if (!test) {
            out.element.classList.toggle("make-mark-deactivated")
            qEnumTag.at(tag.id).with({visible: !tag.visible}).patch()
            paragraphNotice("Видимость изменена!", make.color.yellow)
          }
        }),
        ...make.if(!tag.shared,
          shareBtn = picButton("share", "Поделиться перечислением с другим отделом", make.it.act.neutral,
          () => {
            if (!test) {
              shareNotice(
                out, shareBtn, inp.element.value,
                "*пустая группа*", ()=>{
                  qEnumTag.at(tag.id).with({shared: !tag.shared}).patch()
                  paragraphNotice("Видимость изменена!", make.color.yellow)
                }
              )
            }
          })
        ),
        picButton("trash", "Удалить группу", make.it.act.negative,
        () => {
          console.log('test', acc)
          if (!test) {
            deletionNotice(
              acc, out, inp.element.value,
              "*пустая группа*", ()=>{
                qEnumTag.at(tag.id).with({available: false}).patch()
                paragraphNotice("Удалено!", make.color.red)
              }
            )
          }
        })
      )
    )
    return out
  }

  function manualContent() {
    let styleTab = [make.style.padding(4), make.it.littleDarker]
    return [
      make.Div(
        make.it.flexRow, make.style.gap(6), make.style.maxHeight('10%'),
        make.h1("Руководство"),
        manualCloseText(),
      ),
      make.Separator(6),
      make.Tabs()
      .menu(make.it.littleDarker, make.style.gap(6), make.style.rounded(12), make.style.padding(4))
      .tab()
      .header(...styleTab, make.Paragraph("Главная")
      ).content(
        make.it.flexColumn, make.style.gap(6),
        make.Paragraph("• Это руководство кратко описывает алгоритм работы с данной страницей"),
        make.Paragraph("• Выше, находятся вкладки, на которых расписан основной функционал"),
        make.Paragraph("• Руководство предназначено для тех, кто в отделе был назначен администратором"),
        make.Paragraph("• Пишите в отдел программирования если остался вопрос, на который в данном руководстве нет ответа"),
        make.Separator(0),
        make.Paragraph(`Можете перейти на вкладку "Подсказки"`)
      )
      .tab()
      .header(...styleTab, make.Paragraph("Подсказки")
      ).content(
        make.it.flexColumn, make.style.gap(6),
        make.Paragraph("• Большая часть элементов при наведении выведет вам подсказку через 1.5 секунды"),
        make.Paragraph("Наведитесь на эту строку и подождите несколько секунд", make.with.style({textDecoration: "underline"}),
        popup([
          "Так будет выглядить подсказка",
          "Зачастую, в подсказках будут проянены некоторые моменты",
          "которые могут показаться неочевидными на первый взгляд"
        ]),
        make.on.click((e) => {
          e.target.textContent = "НЕ НУЖНО НАЖИМАТЬ, ПРОСТО НАВЕДИТЕСЬ";
        })),
        make.Separator(),
        make.Paragraph('• Подсказки могут быть не только над текстом, но и над элементами'),
        make.Paragraph('• Ниже находятся различные элементы. Наведитесь на любой из них и подождите несколько секунд'),
        make.Div(
          make.it.flexRow,
          make.style.gap(6),
          make.Input(make.with.attr({placeholder: "Это поле ввода"}),
            popup(800, "Это подсказка на поле ввода"), make.style.maxWidth('20%'),
          ),
          make.Input(make.with.attr({placeholder: "Это поле ввода отключено", disabled: ''}),
            popup(800, [
              "Это подсказка на поле ввода",
              "подсказки могут находиться на элементах, даже если те отключены"
            ])
          ),
          make.Button(make.it.redir, make.with.text("это кнопка"),
            popup(800, "Это подсказка на кнопке"), make.with.style({whiteSpace: "nowrap"}),
            make.on.click((e) => e.target.textContent = "Тут нет ничего интересного")
          ),
          make.Div(
            make.it.flexRow,
            make.style.gap(6),
            make.style.minWidth("24%"),
            picButton('save', "Это подсказка на кнопке сохранения"),
            picButton('hide', "Подсказка на кнопке сохранения"),
            picButton('share', `Это кнопка "Поделиться"`),
            picButton('trash', `Это "Удалить"`),
          )
        ),
        make.Separator(),
        make.Paragraph("• Список элементов не ограничивается кнопками и полями ввода"),
        make.Separator(),
        make.Paragraph(`Можете перейти на вкладку "Кнопки управления"`)
      )
      .tab()
      .header(...styleTab, make.Paragraph("Кнопки управления")
      ).content(
        make.it.flexColumn, make.style.gap(6),
        make.Paragraph("• Кнопки управления позволяют взаимодействовать с ближайшим элементом"),
        make.Paragraph("• Если на одной строке содержатся кнопки и поле ввода, то все кнопки относятся к этому полю ввода"),
        make.Paragraph("• Например:"),
        enumElem({id: 0, value: 'Демонстрационное поле', visible: true, test: true}),
        make.Separator(0),
        make.Paragraph('• Кнопки имеют смысл в контексте того, где они находятся, наведитесь на них чтобы увидеть описание их действий'),
        make.Separator(0),
        make.Paragraph("• Разберём что из себя представляют кнопки на данной странице:"),
        make.Div(
          make.it.flexColumn, make.style.gap(6),
          manualFunctionalButtonElement(
            'save', [`"Дискета"`, "Сохранить"], make.it.act.positive,
            "Кнопки с изображением дискеты обычно сохраняют изменения в базу данных",
            'На данной странице такие кнопки фиксируют в базе новое значение из поля ввода',
          ),
          manualFunctionalButtonElement(
            'hide', [`"Глаз"`, "Скрыть/показать"], make.it.act.alternative,
            "Кнопки с изображением глаза обычно скрывают или раскрывают данные",
            'На данной странице такие кнопки фиксируют в базе видимость элемента для других страниц',
          ),
          manualFunctionalButtonElement(
            'share', [`"Граф"`, "Поделиться"], make.it.act.neutral,
            "Кнопки с изображением графа обычно означают что этим элементом можно поделиться",
            'На данной странице такие кнопки дают разрешение другим ' +
            'отделам просматривать и использовать перечисление, которым вы делитесь',
          ),
          manualFunctionalButtonElement(
            'trash', [`"Корзина"`, "Удалить"], make.it.act.negative,
            "Кнопки с изображением корзины обычно удаляют запись из базы данных",
            'На данной странице такие кнопки делают запись невидимой для любого пользователя, ' +
            'кроме администратора, но она всё ещё будет видна в тех заявках и формах, где уже была применена ранее',
          ),
        )
      )
    ]
  }

  function manualFunctionalButtonElement(pic, popup, styles, t1, t2) {
    return make.Div(
      make.style.rounded(12),
      make.style.padding(6),
      make.it.marginOnHover,
      make.it.leftAlign,
      make.Div(make.it.flexRow, make.style.gap(6),
        make.with.style({alignItems: 'flex-end'}),
        picButton(pic, popup, styles),
        make.Paragraph(t1)
      ),
      make.Paragraph(t2)
    )
  }

  function manualCloseText() {
    return make.Paragraph(
      "Нажмите на этот текст, чтобы скрыть руководство",
      make.it.subtitleText,
      make.on.click(() => make.other.closeCurrentNotice()),
      make.with.style({alignSelf: "flex-end", fontSize: "16px"})
    )
  }

  function manual() {
    make.UniqueNotice("manual", 1000, Infinity, 1000,
      make.Div(
        make.it.content,
        make.color.lblue,
        make.Div(
        make.it.content,
          make.style.minWidth('50vw'),
          make.style.maxWidth('60vw'),
          make.style.height('80vh'),
          ...manualContent()
        )
      )
    )
  }

  function manualButton() {
    return make.Div(
      make.Separator(6),
      make.Button(
        make.color.lblue,
        make.it.action,
        make.it.act.neutral,
        make.with.text("Руководство"),
        make.on.click(() => {
          manual()
        })
      )
    )
  }

  function backButton() {
    return make.Button(
      make.with.css("content", "back", "flex"),
      make.with.text("Вернуться в аккаунт"),
      make.on.click(() =>
        make.Notice(500, Infinity, 500,
          make.Div(
            make.it.flexColumn,
            make.style.gap(6),
            exitButtonInvariant("Выйти без сохранения", "exit2"),
            exitButtonInvariant("Сохранить и выйти", "back"),
            exitButtonInvariant("Отмена", "forward"),
          )
        )
      )
    )
  }

  function enumTagAddButton(id, acc) {
    return make.Button(
      make.it.action,
      make.it.act.neutral,
      make.with.text("Создать группу"),
      make.on.click(() => {
        paragraphNotice("НЕ Создано!", make.color.lblue)
      })
    )
  }

  async function leftContent(qCurrentUser, qEnumTag, qEnum, me) {
    let acc;

    let res = make.Div(
      make.it.flexColumn,
      make.style.gap(10),
      make.h1((await qCurrentUser.get()).department.label),
      acc = make.Scrollbox(
        make.it.flexColumn,
        make.style.gap(6),
      )
    )
    acc.addModifiers(
      ...(await qEnumTag.get()).map((tag) =>
        enumTagElem(qEnum, qEnumTag, acc, me, tag)
      )
    )
    res.addModifiers(
      enumTagElemButtonAdd(me, acc, qEnumTag, qEnum)
    )
    return res
  }

  function enumTagElemButtonAdd(me, acc, qEnumTag, qEnum) {
    return make.Button(
      make.it.action,
      make.it.act.neutral,
      make.with.text("Добавить элемент"),
      make.on.click(
        async () => {
          let tag = enumTagElem(qEnum, qEnumTag, acc, me,
            (await qEnumTag.with({
              department: me.department.id
            }).post()))
          acc.addChild(tag)
          paragraphNotice("Создано!", make.color.lblue)
          tag.element.querySelector("input").focus()
        }
      )
    )
  }

  const csrf = make.other.getCookie("csrftoken")
  const qBase = make.Query("/api").via({"X-CSRFToken": csrf}).view();
  const qCurrentUser = qBase.at("me").view();
  const qEnum = qBase.at("enums").view()
  const qEnumTag = qBase.at("enum-tags").view()
  
  let enumCollector = make.Scrollbox();

  const me = await qCurrentUser.get()

  document.getElementById("left-exit-button").appendChild(backButton().build())
  document.getElementById("left-exit-button").appendChild(manualButton().build())
  document.getElementById("left-content").appendChild(
    (await leftContent(qCurrentUser, qEnumTag, qEnum, me)).build())


</script>