{% load static %}
<div id="left-content" class="content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");
  var isSaved = true
  const csrf = make.other.getCookie('csrftoken')
  const qBase = make.Query('/api').via({'X-CSRFToken': csrf});
  const leftContent = document.getElementById('left-content')
  leftContent.appendChild(
    make.Button(
      make.with.text(
        "Вернуться",
        make.with.css('content', 'back', 'flex'),
        make.on.click(tryToExit)
      )
    )
  )


  function tryToExit() {
    if (isSaved) {
      window.location.href="/applications/dashboard"
    }
    else {
      make.Notice(500, 2500, 500,
        make.Div(
          make.it.content,
          make.Paragraph('Вы не сохранили изменения, хотите выйти без сохранения?'),
          make.Button(
            make.with.text('Выйти без сохранения'),
            make.with.css('content', 'exit', 'flex'),
            make.on.click(() => {
              window.location.href = "/applications/dashboard"
            })
          )
        )
      )
    }
  }
</script>