{% load static %}

<div id="left-exit-button"></div>

<div class="content", id="left-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");

  document.getElementById('left-exit-button').appendChild(
    make.Button(
      make.with.css('content', 'back', 'flex'),
      make.with.text("Вернуться в аккаунт"),
      make.on.click(() =>
        make.Notice(500, Infinity, 500,
          make.Div(
            make.it.flexColumn,
            make.style.gap(6),
            make.Button(
              make.with.text("Выйти без сохранения"),
              make.with.css('content', 'exit2', 'flex'),
              make.on.click(() => window.location.href='/applications/dashboard/'),
            ),
            make.Button(
              make.with.text("Сохранить и выйти"),
              make.with.css('content', 'back', 'flex'),
              make.on.click(() => window.location.href='/applications/dashboard/'),
            ),
            make.Button(
              make.with.text("Отмена"),
              make.with.css('content', 'forward', 'flex'),
              make.on.click(() => make.other.closeCurrentNotice())
            )
          )
        )
      )
    ).build()
  )

  function paragraphNotice(text, addit) {
    make.Notice(500, 500, 500,
      make.Div(
        make.it.content,
        addit,
        make.Paragraph(text)
      )
    )
  }
  function deletionNotice(container, component, name, placeholder='PLACEHOLDER', deletion=()=>{}) {
    let result
    make.UniqueNotice('deletion', 500, Infinity, 500,
      make.Div(
        make.it.flexColumn,
        make.style.gap(6),
        make.it.contented,
        make.Paragraph(`Удалить ${name ? name : placeholder}?`),
        make.Div(
          make.it.flexRow,
          make.style.gap(6),
          make.Button(
            make.it.action,
            make.it.act.negative,
            make.with.text('Удалить'),
            make.on.click(() => {
              container.removeChild(component),
              make.other.closeCurrentNotice()
              deletion()
            })
          ),
          make.Button(
            make.it.action,
            make.it.act.alternative,
            make.with.text('Отмена'),
            make.on.click(() => {
              make.other.closeCurrentNotice()
            })
          ),
        )
      )
    )
  }
  function enumElem({id, value, ph, enabled=true, container, visible, makeQuery}) {
    let acc;
    let out = make.Div(make.it.marginOnHover)
    out.id = id
    let inp
    inp = make.Input(
      make.with.attr({
        value: value,
        placeholder: ph ? ph : value
      }),
      make.on.change((e) =>
        out.element.classList.add("make-mark-changed")
      ),
      ...make.if(!enabled,
        make.with.attrs('disabled'),
        make.Annotation(1500, 
          make.Div(
            make.it.popup,
            make.Paragraph("Вы не можете редактировать этот элемент"),
          )
        ),
      ),
      ...make.if(enabled,
        make.Annotation(1500, 
          make.Div(
            make.it.popup,
            make.Paragraph("Нажмите на поле ввода для редактирования"),
            make.Paragraph("После редактирования не забудьте сохранить!"),
          )
        )
      )
    )
    inp.build()
    acc = make.Div(
      make.with.css('make-mark-filtered'),
      ...make.if(!visible,
        make.with.css('make-mark-deactivated')
      ),
      make.it.flexRow,
      make.style.gap(6),
      inp,
      ...make.if(enabled,
        ...[
          {
            popupText: "Сохранить текст элемента",
            style: make.it.act.positive, img: "save",
            action: () => {
              makeQuery.at(out.id).with({value: inp.element.value}).patch(),
              out.element.classList.remove("make-mark-changed")
              paragraphNotice("Сохранено!", make.color.lgreen)
            }
          },{
            popupText: "Скрыть элемент от пользователя",
            style: make.it.act.alternative, img: "hide",
            action: () => {
              acc.element.classList.toggle('make-mark-deactivated')
              makeQuery.at(out.id).with({visible: !visible}).patch()
              paragraphNotice("Видимость изменена!", make.color.yellow)
            }
          },{
            popupText: "Удалить элемент",
            style: make.it.act.negative, img: "delete",
            action: () => {
              deletionNotice(
                container, out, inp.element.value,
                '*пустой элемент*', ()=>{
                  makeQuery.at(out.id).with({available: false}).patch()
                  paragraphNotice("Удалено!", make.color.red)
                })
            }
          }].map(
          (btn) => make.Button(
            make.it.action,
            btn.style,
            make.style.padding(5),
            make.Annotation(1500, 
              make.Div(
                make.it.popup,
                make.Paragraph(btn.popupText),
              )
            ),
            make.Div(
              make.with.style({overflow: "hidden"}),
              make.Image(
                `{{ MEDIA_URL }}${btn.img}.png`,
                make.it.flex,
                make.with.style({width: "20px", height: "20px"}),
              )
            ),
            make.on.click(btn.action)
          )
        )
      )
    )
    out.addChild(acc)
    return out
  }

  function createCollector(items, enabled=true) {
    let collector = make.Scrollbox(
      make.it.flexColumn,
      make.style.gap(6)
    )
    collector.addModifiers(
      ...items.map((item) => 
        enumElem({
          id: item.id,
          value: item.value,
          visible: item.visible,
          enabled: enabled,
          container: collector,
          makeQuery: qEnum,
        })
      )
    )
    return collector
  }
  
  const csrf = make.other.getCookie('csrftoken')
  const qBase = make.Query('/api').via({'X-CSRFToken': csrf}).view();
  const qCurrentUser = qBase.at('me').view();
  const qCurrentUserValues = qBase.at('my-role').view();
  const qEnum = qBase.at('enums').view()
  const qEnumTag = qBase.at('enum-tags').view()
  
  let enumCollector = make.Scrollbox();
  let enumTagCollector;
  let counter = 0;

  const me = await qCurrentUser.get()
  
  document.getElementById("left-content").appendChild(
    make.Div(
      make.it.flexColumn,
      make.style.gap(10),
      make.h1((await qCurrentUser.get()).department.label),
      make.Scrollbox(
        enumTagCollector = make.Collector(
          make.it.flexColumn,
          make.style.gap(6),
          ...(await qEnumTag.get()).map((tag) =>
            make.Div(
              make.it.flexRow,
              make.style.gap(6),
              make.it.marginOnHover,
              make.Input(
                ...make.if(
                  tag.department !== me.department.id,
                  make.with.attrs("readonly"),
                  make.Annotation(1500, 
                    make.Div(
                      make.it.popup,
                      make.Paragraph("Другой отдел поделился этим перечислением"),
                      make.Paragraph("Вы не можете его редактировать. Кликните для просмотра"),
                    )
                  ),
                ),
                ...make.if(
                  tag.department === me.department.id,
                  make.Annotation(1500, 
                    make.Div(
                      make.it.popup,
                      make.Paragraph("Это перечисление вашего отдела"),
                      make.Paragraph("Кликните по полю ввода для управления элементами"),
                    ),
                  ),
                ),
                make.with.attr({ value: tag.name }),
                make.style.padding(6),
                make.on.click(async () => {
                  let center = document.getElementById("center-content")
                  center.innerHTML = ''
                  let items = await qEnumTag.at(tag.id).at("items").get()
                  center.appendChild(
                    make.Div(
                      make.it.flexColumn,
                      make.style.gap(6),
                      enumCollector = createCollector(items, tag.department === me.department.id),
                      ...make.if(
                        tag.department === me.department.id,
                        make.Div(
                        make.it.flexRow,
                        make.style.gap(6),
                        make.Button(
                            make.it.action,
                            make.it.act.neutral,
                            make.with.text('Добавить элемент'),
                            make.on.click(
                              async () => {
                                let res = await qEnum.with({
                                  value: `Новый элемент ${++counter}`,
                                  enum_tag: tag.id
                                }).post()
                                let enEl = enumElem({
                                  container: enumCollector,
                                  makeQuery: qEnum,
                                  ...res,
                                })
                                enumCollector.addChild(enEl)
                                paragraphNotice("Создано!", make.color.lblue)
                                enEl.element.querySelector('input').focus()
                              }
                            )
                          ),
                          make.Button(
                            make.it.action,
                            make.it.act.positive,
                            make.with.text("Сохранить"),
                          )
                        )
                      )
                    ).build()
                  )
                })
              ),

              ...make.if(!tag.shared,
                ...[
                  {pic: 'save', popupText: 'Сохранить имя группы', style: make.it.act.positive},
                  {pic: 'hide', popupText: 'Скрыть из вариантов при создании форм', style: make.it.act.alternative},
                  {pic: 'share', popupText: 'Поделиться перечислением с другим отделом', style: make.it.act.neutral},
                  {pic: 'delete', popupText: 'Удалить группу', style: make.it.act.negative},
                ].map((btn) => 
                  make.Button(
                    make.Annotation(1500, 
                      make.Div(
                        make.it.popup,
                        make.Paragraph(btn.popupText),
                      )
                    ),
                    make.it.action,
                    btn.style,
                    make.style.padding(5),
                    make.Div(
                      make.with.style({overflow: "hidden"}),
                      make.Image(
                        `{{ MEDIA_URL }}${btn.pic}.png`,
                        make.it.flex,
                        make.with.style({width: "20px", height: "20px"}),
                      )
                    )
                  ),
                )
              )
            )
          )
        ),
      ),
      make.Button(
        make.it.action,
        make.it.act.neutral,
        make.with.text("Создать группу"),
        make.on.click(() => {
          paragraphNotice("НЕ Создано!", make.color.lblue)
        })
      ),
      make.Button(
        make.it.action,
        make.it.act.positive,
        make.with.text("Сохранить"),
        make.on.click(() => {
          
        })
      ),
    ).build()
  )
</script>