{% load static %}

<div id="center-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");

  const csrfObj = await make.Query('/api/csrf-token').get()
  const imp = (await import("{% static 'deps/js/tools/import.js' %}")).default(make)
  const popup = await imp("{% static 'deps/js/prefabs/popup.js' %}")
  const picButton = await imp("{% static 'deps/js/prefabs/pic_button.js' %}", popup, "{{ MEDIA_URL }}")
  const paragraphNotice = await imp("{% static 'deps/js/prefabs/paragraph_notice.js' %}")

  const buildProxyTab = await imp("{% static 'deps/js/dashboard/proxy.js' %}")
  const buildAdminTab = await imp("{% static 'deps/js/dashboard/admin.js' %}")
  const buildModerTab = await imp("{% static 'deps/js/dashboard/moder.js' %}")
  const buildUserTab = await imp("{% static 'deps/js/dashboard/user.js' %}")
  
  const qBase = make.Query('/api').via({"X-CSRFToken": csrfObj.csrfToken}).view()
  const departments = await qBase.at('departments').view().get()
  const deps = buildDepartmentNameMap(departments)
  const forms = await qBase.at('forms/visible').view().get()
  const statuses = await qBase.at('application-statuses').view().get()

  const roles = await qBase.at('roles').view().get()
  const me = await qBase.at('me').view().get()

  let resultModer = null;
  
  let onOpenFooContainer = []
  if (me.permissions.includes('moderator')) {
    resultModer = await buildModerTab(qBase, me.department.id, statuses, popup, onOpenFooContainer, me);
  }

  const tabs = make.Tabs(make.style.height('100%'))
  .menu(
    make.it.flexRow,
    make.it.gap10px,
    make.style.rounded(12),
    make.style.padding(8),
  );
  const permissions = me.permissions.filter(s => s !== 'proxy');

  const buildUserTabWrapper = () => buildUserTab(
    qBase, deps, forms, paragraphNotice, popup, window.getAndDrawUserApps, picButton)
  document.getElementById('center-content').appendChild(
    make.Div(
      make.style.height("100%"),
      make.with.style({overflowY: "hidden"}),
      ...make.callif(permissions.length === 0,
        () => make.h1("Перед началом работы верифицируйте аккаунт у администратора отдела или в отделе программирования.")
      ),
      ...make.callif(permissions.length === 1, buildUserTabWrapper),
      ...make.callif(permissions.length > 1,
        () => {
          if (me.permissions.includes('user'))
            tabs.tab()
            .header(...getHeaderComponent("Создать заявку"))
            .content(
              ...buildUserTabWrapper()
          );
          if (me.permissions.includes('moderator'))
            tabs.tab()
            .onOpen.sub(() => onOpenFooContainer[0]())
            .header(...getHeaderComponent("Входящие заявки"))
            .content(
              ...(resultModer || [])
            );
          if (me.permissions.includes('admin'))
            tabs.tab()
            .header(...getHeaderComponent("Управление отделом"))
            .content(
              ...buildAdminTab(qBase)
          );
          return tabs
        }
      )
    ).build()
  );

  function buildDepartmentNameMap(arr) {
    const map = {};
    for (let i = 0; i < arr.length; i++) {
        const item = arr[i];
        map[item.id] = item.name;
    }
    return map;
  }

  function getHeaderComponent(text) {
    return [
      make.style.rounded(12),
      make.style.padding(8),
      make.it.centered,
      make.it.textCentered,
      make.it.flex,
      make.Paragraph(text)
    ]
  }
</script>
