{% load static %}

<div id="center-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");

  const csrfObj = await make.Query('/api/csrf-token').get()

  const buildProxyTab = (await import("{% static 'deps/js/dashboard/proxy.js' %}")).default;
  const buildAdminTab = (await import("{% static 'deps/js/dashboard/admin.js' %}")).default;
  const buildModerTab = (await import("{% static 'deps/js/dashboard/moder.js' %}")).default;
  const buildUserTab = (await import("{% static 'deps/js/dashboard/user.js' %}")).default;
  
  const qBase = make.Query('/api').via({"X-CSRFToken": csrfObj.csrfToken}).view();
  const roles = qBase.at('roles').view().get()
  const me = await qBase.at('me').view().get()

  const tabs = make.Tabs()
  .menu(
    make.it.flexRow,
    make.it.gap10px,
    make.style.rounded(12),
    make.style.padding(8),
  );
  const permissions = me.permissions.filter(s => s !== 'proxy');

  document.getElementById('center-content').appendChild(
    make.Div(
      ...make.if(permissions.length === 0,
        make.h1("Перед началом работы верифицируйте аккаунт у администратора отдела или в отделе программирования.")
      ),
      ...make.if(permissions.length === 1,
        ...buildUserTab(make)
      ),
      ...make.if(permissions.length > 1,
        (() => {
          if (me.permissions.includes('user'))
          tabs.tab()
          .header(...getHeaderComponent("Создать заявку"))
          .content(
            ...buildUserTab(make)
          );
          if (me.permissions.includes('moderator'))
          tabs.tab()
          .header(...getHeaderComponent("Входящие заявки"))
          .content(
            ...buildModerTab(make)
          );
          if (me.permissions.includes('admin'))
          tabs.tab()
          .header(...getHeaderComponent("Управление отделом"))
          .content(
            ...buildAdminTab(make)
          );
          return tabs
        })()
      )
    ).build()
  );

  function getHeaderComponent(text) {
    return [
      make.style.rounded(12),
      make.style.padding(8),
      make.it.centered,
      make.it.textCentered,
      make.it.flex,
      make.Paragraph(text)
    ]
  }
</script>