{% load static %}
{% load js_loader %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="stylesheet" href="{% static 'deps/css/bright.css' %}">
    <link rel="stylesheet" href="{% static 'deps/js/make/make.css' %}">
</head>
<body>
    <div class="page-container">
        <div class="side-container gap-10px" id="left-container">
            {% include 'application/'|add:variant|add:"/left.html" with data=data %}
        </div>
        <div class="center-container content force-white" id="center-container">
            {% include 'application/'|add:variant|add:"/center.html" with data=data %}
        </div>
        <div class="side-container gap-10px" id="right-container">
            {% include 'application/'|add:variant|add:"/right.html" with data=data %}
        </div>
    </div>
</body>
</html>
<script>
    // deps | collected
    window.make_url = "{% static 'deps/js/make' %}"
    window.dashboard_url = "{% static 'deps/js/dashboard' %}"
    window.manual_url = "{% static 'deps/js/manual' %}"
    window.pages_url = "{% static 'deps/js/pages' %}"
    window.prefab_url = "{% static 'deps/js/prefabs' %}"
    window.media_url = "{{ MEDIA_URL }}"
</script>
