body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input, select {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 20px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
}

.confirm {
    background-color: #32a34a;
}

.confirm:hover {
    background-color: #218838;
}

.redir {
    background-color: #999;
}

.redir:hover {
    background-color: #aaa;
}

.error {
    color: red;
    font-size: 0.9em;
}

.m-t-10px{
    margin-top: 10px;
}