<form class="flex">
    {% csrf_token %}
    <div class="container inner-shadow">
    <div class="gap-10px scrollbox" id="form-content">
        <div id="accordion">
            <br><br>
            <div class="wave-text box" id="waveText">Для начала работы выберите форму</div>
            <br><br>
        </div>
        <script>
            const textElement = document.getElementById('waveText');
            const text = textElement.textContent;
            textElement.innerHTML = '';

            text.split('').forEach((char, index) => {
                const span = document.createElement('span');
                span.textContent = char === ' ' ? '\u00A0' : char;
                span.style.animationDelay = `${index * 0.05}s`;
                textElement.appendChild(span);
            });
        </script>
    </div>
    </div>
</form>