{% load static %}

<div id="left-exit-button"></div>

<div class="content", id="left-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");
  const imp = (await import("{% static 'deps/js/tools/import.js' %}")).default(make)
  const paragraphNotice = await imp("{% static 'deps/js/prefabs/paragraph_notice.js' %}")
  const backButton = await imp("{% static 'deps/js/prefabs/exit_button.js' %}")
  const actionNotice = await imp("{% static 'deps/js/prefabs/action_notice.js' %}")
  const popup = await imp("{% static 'deps/js/prefabs/popup.js' %}")
  const picButton = await imp("{% static 'deps/js/prefabs/pic_button.js' %}", popup, "{{ MEDIA_URL }}");

  const basicManual = await imp("{% static 'deps/js/manual/basic_manual.js' %}", popup, picButton, enumElem);
</script>