body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;}
.page-container {
    height: 96vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    gap: 1%;}
.side-container {
    display: flex;
    flex-direction: column;
    width: 25%;}
.center-container {
    height: auto !important;
    width: 50%;}
.content {
    color: #444;
    padding: 12px;
    font-size: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px #0002;
    max-width: 95vw;
    max-height: 95vh;
    height: fit-content;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.01, 1),
                color 0.3s ease,
                box-shadow 0.1s ease,
                padding-right 0.5s cubic-bezier(0, 0, 0.01, 1);}
.content:hover {
    box-shadow: 0 0 20px #0003;}
.content.force-white{
    background-color: white !important;}
.admin {
    animation: example 2s infinite;}

@keyframes example {
    0% {color: #ccc; transform: translateY(0);}
    12.5% {color: #00f; transform: translateY(5px);}
    25% {color: #dd0; transform: translateY(0);}
    37.5% {color: #f00; transform: translateY(5px);}
    50% {color: #000; transform: translateY(0);}
    62.5% {color: #0ee; transform: translateY(5px);}
    75% {color: #0f0; transform: translateY(0);}
    87.5% {color: #f0f; transform: translateY(5px);}
    100% {color: #ccc; transform: translateY(0);}
}
button.content.exit:hover {
    padding-right: 50%;
    color: #000;
    background-color: #ffe0e5;}
button.content.back:hover {
    padding-right: 42%;
    color: #000;
    background-color: #e0e5ff;}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;}
.vh-90 {
    min-height: 90vh;}
h1 {
    font-size: 24px;
    margin-bottom: 20px;}
.form-group {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;}
label {
    font-size: 20px;}
input, select, textarea {
    font-size: 20px;
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;}
select:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0; }
button {
    font-size: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 12px;
    cursor: pointer;}
form.flex {
    display: flex;
    flex: 1;}

.confirm {
    background-color: #026670;
    transition: background-color 0.3s ease;}
.confirm:hover {
    background-color: #027788;}
.redir {
    text-align: left;
    background-color: #ddd;
    color: #222;
    transition: background-color 0.3s ease !important}
.redir:hover {
    background-color: #bce;}
.button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;}
.sub_btn_act, .sub_btn_act:visited {
    font-size: 16px;
    padding: 10px;
    color: #666;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.3s ease;}
.sub_btn_act:hover, .sub_btn_act:visited:hover {
    color: #222;
    transition: color 0.5s ease, background-color 0.3s ease;}
.error {
    color: red;
    font-size: 16px;}
.mt-10 {
    margin-top: 10px;}
.flex-box {
    display: flex;}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-items: center;}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-items: center;}
.mt-2p {
    margin-top: 2%;}
.mr-2p {
    margin-right: 2%;}
.ml-2p {
    margin-left: 2%;}
.mb-2p {
    margin-bottom: 2%;}
.gap-10px {
    gap: 10px;}
.gap-5px {
    gap: 5px;}
.flex {
    flex: 1;}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;}
.tabs-menu{
    padding: 1%;
    border-radius: 12px;
    background-color: #e6e6e6;}
.tab-button {
    padding: 10px;
    border: none;
    background-color: #dadada;
    border: 2px #fff6;
    color:#444;
    cursor: pointer;
    transition: background-color 0.3s ease;}
.tab-button.active:hover,
.tab-button.active {
    background-color: #ccc;
    color: #222;}
.tab-button:hover {
    background-color: #cccfff;
    transition: background-color 0.3s ease;}
.tab-content {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 0;
    overflow: hidden;}
.tab-content.active {
    opacity: 1;
    transform: translateY(0);
    height: auto;}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 2%;
    transition: margin-bottom 0.3s;}
.accordion-back {
    border-radius: 12px;
    margin-bottom: 2%;
    overflow: hidden;}
.accordion-back.bg-red {
    background-color: #fdd;}
.accordion-back.bg-blue {
    background-color: #ddf;}
.accordion-back.bg-green {
    background-color: #dfd;}
.accordion-header {
    background-color: #e7e7e7;
    color: #000;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: 0.3s;}
.accordion-header.active{
    box-shadow: 0 5px 5px #0002;;
    background-color: #ddd;
    margin-bottom: 2%;}
.accordion-header:hover {
    background-color: #ddd;}
.accordion-content {
    margin-left: 2%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;}
.accordion-content p {
    margin-block-start: 0px;
    margin-block-end: 0px;}
.accordion-content .acc-select {
    width: 95%;}


.margin-on-hover {
    transition: margin-left 0.2s ease !important; }
.margin-on-hover:hover {
    margin-left: 1%;
    transition: margin-left 0.2s ease;}
.redir.margin-on-hover {
    transition: background-color 0.3s ease, margin-left 0.2s ease !important;}
.form-data.margin-on-hover {
    transition: filter 0.3s ease, margin-left 0.2s ease !important;}

.field-status-text {
    color: gray;
    font-style: italic; 
    font-size: 10px;}

.form-data {
    text-align: left;
    transition: filter 0.3s ease;}

.form-data:hover.main-field,
.form-data:hover.field,
.form-data:hover{
    filter: brightness(0.95);}

.form-data.main-field {
    padding: 10px;
    background-color: #fdd;
    border: 2px #fbb;
    border-radius: 12px;}
.form-data.field {
    padding: 10px;
    background-color: #ddf;
    border: 3px solid #cce;
    border-radius: 12px;}

.inner-shadow{
    position: relative;}
.inner-shadow-content{
    position: relative;
    z-index: 1;}
.inner-shadow::before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: inset -25vw 10px 10px #fff, inset -25vw -10px 10px #fff;
    z-index: 2;
    pointer-events: none;}

.scrollbox {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;}
.scrollbox::-webkit-scrollbar {
    width: 12px;
    height: 12px;}
.scrollbox::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid transparent;}
.scrollbox::-webkit-scrollbar-track {
    background: transparent;}

.wave-text {
    display: inline-block;
    font-size: 24px; }
.wave-text:hover span {
    display: inline-block;
    animation: wave 120s infinite;}

@keyframes wave {
    0%, 100% { font-weight: lighter; }
    12% { font-weight: bold; color: #000; }
    14% { color: #0000; }
    16% { color: #000; }
    30% { transform: translateX(0); color: #000; }
    31% { transform: translateX(-2px); }
    32% { transform: translateX(0); }
    33% { transform: translateX(-4px); }
    34% { transform: translateX(0); }
    35% { transform: translateX(-6px); }
    36% { transform: translateX(0); }
    37% { transform: translateX(-4px); }
    38% { transform: translateX(0); }
    39% { transform: translateX(-2px); }
    40% { transform: translateX(0); }
    60% { transform: scale(1); }
    63% { transform: scale(2); }
    65% { transform: scale(-1.2); }
    67% { transform: scale(1); }
    75% { transform: translateY(0); }
    80% { transform: translateY(500px); }
    80.00001% { transform: translateY(-500px); }
    85% { transform: translateY(0px); }
    90% { font-weight: bold; }
}

.enabler .toggle-button {
    background-color: #ccc; 
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease; }
.enabler .toggle-button.enabled {
    background-color: #4caf50; }
.enabler .toggle-button:hover {
    background-color: #a5d6a7; }
.enabler .toggle-button:hover.enabled {
    background-color: #81c784; }
.enabler .toggle-button.disabled:hover {
    background-color: #b0bec5; }

.tooltip-container {
    position: relative;
    display: inline-block;}
.tooltip {
    visibility: hidden;
    background-color: #000d;
    color: #fff;
    text-align: left;
    font-size: 16px;
    border-radius: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.5s 0.5s;}
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;}