body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.page-container {
    height: 96vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    gap: 1%;
}
.side-container.main {
    font-size: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 25%;
    height: fit-content;
}
.side-container.filler {
    padding: 20px;
    width: 25%;
}

.container {
    font-size: 20px;
    background: white;
    padding: 20px;
    padding-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 800px;
    text-align: center;
    transition: height 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vh-90 {
    min-height: 90vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    font-size: 20px;
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}

button {
    font-size: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.confirm {
    background-color: #026670;
    transition: background-color 0.3s ease;
}

.confirm:hover {
    background-color: #027788;
}

.redir {
    text-align: left;
    background-color: #ddd;
    color: #222;
    transition: background-color 0.3s ease;
}

.redir:hover {
    background-color: #bce;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
}

.sub_btn_act, .sub_btn_act:visited {
    font-size: 16px;
    padding: 10px;
    color: #666;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.3s ease;
}

.sub_btn_act:hover, .sub_btn_act:visited:hover {
    color: #222;
    transition: color 0.5s ease, background-color 0.3s ease;
}

.error {
    color: red;
    font-size: 16px;
}

.mt-10 {
    margin-top: 10px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #e8e8e8;
    color:#555;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tab-button.active:hover,
.tab-button.active {
    background-color: #ccc;
    color: #222;
}

.tab-button:hover {
    background-color: #bce;
    transition: background-color 0.3s ease;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}