{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css%}{% endblock %}
</head>
<body>
    <div class="container">
        <h1>{% block form_name %}{% endblock %}</h1>
        <form method="post">
            {% csrf_token %}
            {% block content %}{% endblock %}
            <button type="submit" class="confirm">
                {% block confirm_btn_text %}{% endblock %}
            </button>
        </form>
        <div class="m-t-10px">
            <a href="{% block redir_btn_route %}{% endblock %}" class="redir">
                {% block redir_btn_text %}{% endblock %}
            </a>
        </div>
    </div>
</body>
</html>
