{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ form.title }}</title>
    <link rel="stylesheet" href="{% static form.css %}">
</head>
<body>
    <div class='container'>
        <h1>{{ form.form_name }}</h1>
        {% if services in form %}
            <div class="tabs">
                <button id="request-button" class="tab-button active" onclick="showTab('request')">Запрос</button>
                <button id="services-button" class="tab-button" onclick="showTab('services')">Услуги</button>
            </div>
        {% endif %}
        <div id='request' class="tab-content active">
            {% include "users/request_form.html" %}
        </div>
        <div id='services' class="tab-content">
            <p>Тестовый текст</p>
        </div>
    </div>
    <script>
        function showTab(tabId) {
            const tabs = document.querySelectorAll('.tab-content');
            const container = document.querySelector('.container');
            const activeTab = document.getElementById(tabId);
            const previousActiveTab = document.querySelector('.tab-content.active');

            if (previousActiveTab) {
                previousActiveTab.classList.remove('active');
            }

            const buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(button => {
                button.classList.remove('active');
            });

            activeTab.classList.add('active');
            const activeButton = document.getElementById(tabId + '-button');
            if (activeButton) {
                activeButton.classList.add('active');
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const initialTab = 'request';
            showTab(initialTab);
        });
    </script>
</body>
</html>
