{% load static %}

<div id="left-exit-button"></div>

<div class="content-strange" id="left-content"></div>

<script type="module">
  await import("{% static 'deps/make/make.js' %}");
  const imp = (await import("{% static 'deps/js/tools/import.js' %}")).default(make)
  const paragraphNotice = await imp("{% static 'deps/js/prefabs/paragraph_notice.js' %}")
  const backButton = await imp("{% static 'deps/js/prefabs/exit_button.js' %}")
  const actionNotice = await imp("{% static 'deps/js/prefabs/action_notice.js' %}")
  const popup = await imp("{% static 'deps/js/prefabs/popup.js' %}")
  const picButton = await imp("{% static 'deps/js/prefabs/pic_button.js' %}", popup, "{{ MEDIA_URL }}");
  const basicManual = await imp("{% static 'deps/js/manual/basic_manual.js' %}", popup, picButton);

  document.getElementById("left-exit-button").appendChild(backButton().build());
  const curr = make.h1('test')
  document.getElementById("left-exit-button").appendChild(basicManual(curr).build())

  const csrfObj = await make.Query('/api/csrf-token').get()
  const qBase = make.Query('/api').via({"X-CSRFToken": csrfObj.csrfToken}).view();

  const qForm = qBase.at('forms').view()
  const qField = qBase.at('fields').view()
  const qFormField = qBase.at('form-fields').view()
  const qFormFieldSwap = qFormField.at('swap').view()
  async function qFormFieldSwapById(fr, to) {
    await qFormFieldSwap.with({a: fr, b: to}).patch()
  }
  const fieldTypes = await qBase.at('field-types').get()
  const fields = {}
  for (const ft of fieldTypes) {
    let res = await qField.where({type: ft.id}).get()
    fields[ft.id] = res
  }

  const forms = await qForm.get()
  const me = await qBase.at('me').get()
  
  let selectedFormId
  function formElem(acc, form) {
    let out
    let inp
    let shareBtn
    inp = make.Input(
      make.on.input((e) =>
        out.element.classList.add("make-mark-changed")
      ),
      make.on.inputTimeOut(3000, () => {
        out.element.classList.remove("make-mark-changed")
        qForm.at(form.id).with({name: inp.element.value || ''}).patch()
        paragraphNotice("Сохранено!", make.color.lgreen)
      }),
      popup("Нажмите на поле ввода, чтобы редактировать имя формы"),
      make.with.attr({ value: form.label, placeholder: form.label ? form.label : 'Новая форма'}),
      make.style.padding(6),
      make.on.click(async () => {
        if (!inp?.element?.classList?.contains('make-mark-selected-group')){
          selectedFormId = form.id
          setUniqueClass(inp.element, 'make-mark-selected-group')
          await fillCenter(form)
        }
      })
    )
    out = make.Div(
      ...make.if(!form.visible,
        make.with.css("make-mark-deactivated")
      ),
      make.it.flexRow, make.style.gap(6), make.it.marginOnHover, inp,
      picButton("hide", "Сделать форму невидимой для пользователей", make.it.act.alternative,
      () => {
        out.element.classList.toggle("make-mark-deactivated")
        qForm.at(form.id).with({visible: !form.visible}).patch()
        paragraphNotice("Видимость изменена!", make.color.yellow)
      }),
      picButton("trash", "Удалить форму", make.it.act.negative,
      () => {
        actionNotice({
          confirmText: "Удалить", cancelText: "Отмена",
          question: [
            make.Paragraph(`Удалить ${inp.element.value || "*Новая форма*"}?`),
            make.Paragraph(`Это действие невозможно отменить`, make.it.textBold),

          ],
          action: ()=>{
            acc.removeChild(out)
            qForm.at(form.id).with({available: false}).patch()
            paragraphNotice("Удалено!", make.color.red),
            clearCenter(form.id === selectedFormId)
          }
        })
      })
    )
    return out
  }

  function setUniqueClass(element, className = 'active') {
    document.querySelectorAll(`.${className}`).forEach(el => {
        el.classList.remove(className);
    });
    
    element.classList.add(className);
  }

  function formAddButton(acc) {
    return make.Button(
      make.it.action,
      make.it.act.neutral,
      make.with.text("Добавить форму"),
      make.on.click(
        async () => {
          let newForm = await qForm.with({
            department: me.department.id
          }).post()
          let form = formElem(acc, newForm)
          acc.addChild(form)
          paragraphNotice("Создано!", make.color.lblue)
          form.element.querySelector("input").focus()
        }
      )
    )
  }
  
  function clearCenter(doClear=true) {
    if (doClear) {
      let center = document.getElementById("center-content")
      center.innerHTML = ""
      return center
    }
  }

  function leftContent() {
    let acc
    let ret = make.Div(
      make.it.flexColumn,
      make.style.height("100%"),
      make.style.gap(10),
      make.h1("Формы"),
      acc = make.Scrollbox(
        make.it.flexRow,
        make.style.gap(6),
      ),
      formAddButton(acc)
    )
    
    acc.addModifiers(
      ...forms.map((form) =>
        formElem(acc, form)
      )
    )
    return ret
  }

  function formFieldElem(acc, formField) {
    let field = formField.field
    let ret = make.Div()
    ret.id = formField.id
    let prev = null
    if (acc.children.length !== 0) {
      prev = acc.children.at(-1)
      prev.nextFormFieldElem = ret
    }
    ret.prevFormFieldElem = prev
    ret.nextFormFieldElem = null

    let addit = ""
    if (field.tag) {
      addit = ` "${field.tag}"`
    }
    ret.addModifiers(
      make.it.marginOnHover,
      make.Div(
        make.style.padding(2),
        make.style.rounded(12),
        make.with.css('recolor-on-hover'),
        make.it.flexRow,
        make.with.style({
          justifyContent: "space-between", alignItems: "center",
          paddingLeft: "8px", paddingRight: "8px",
        }),
        make.Div(
          make.Div(
            make.it.flexColumn,
            make.Paragraph(field.label),
            make.Paragraph(field.type + addit, make.it.subtitleText)
          )
        ),
        make.Div(
          make.Div(
            make.it.flexRow,
            make.style.gap(6),
            picButton(
              "up", "Поднять поле на форме", make.it.act.neutral,
              () => {
                if (ret.prevFormFieldElem !== null) {
                  let prev = ret.prevFormFieldElem
                  let prevPrev = prev.prevFormFieldElem
                  let currNext = ret.nextFormFieldElem
                  if (currNext) currNext.prevFormFieldElem = prev
                  prev.nextFormFieldElem = currNext
                  prev.prevFormFieldElem = ret
                  ret.nextFormFieldElem = prev
                  ret.prevFormFieldElem = prevPrev
                  if (prevPrev) prevPrev.nextFormFieldElem = ret
                  prev.swap(ret)
                  qFormFieldSwapById(ret.id, prev.id)
                }
                else {
                  paragraphNotice("Выше ничего нет", make.color.yellow)
                }
              }
            ),
            picButton(
              "trash", "Удалить", make.it.act.negative,
              () => {
                actionNotice({
                  confirmText: "Удалить", cancelText: "Отмена",
                  question: [
                    make.Paragraph(`Вы уверены что хотите удалить это поле из формы?`),
                  ],
                  action: async () => {
                    await qFormField.at(ret.id).delete()
                    let next = ret.nextFormFieldElem
                    let prev = ret.prevFormFieldElem
                    if (prev) prev.nextFormFieldElem = next
                    if (next) next.prevFormFieldElem = prev
                    acc.removeChild(ret)
                  }
                })
              }
            ),
            picButton(
              "down", "Опустить поле на форме", make.it.act.neutral,
              () => {
                if (ret.nextFormFieldElem !== null) {
                  let next = ret.nextFormFieldElem
                  let nextNext = next.nextFormFieldElem
                  let currPrev = ret.prevFormFieldElem
                  next.nextFormFieldElem = ret
                  next.prevFormFieldElem = currPrev
                  if (currPrev) currPrev.nextFormFieldElem = next
                  if (nextNext) nextNext.prevFormFieldElem = ret
                  ret.nextFormFieldElem = nextNext
                  ret.prevFormFieldElem = next
                  ret.swap(next)
                  qFormFieldSwapById(ret.id, next.id)
                }
                else {
                  paragraphNotice("Ниже ничего нет", make.color.yellow)
                }
              }
            ),
          ),
        ),
      )
    )
    return ret
  }

  async function fillCenter(form) {
    clearCenter().appendChild(
      centerComponent(
        (await qFormField.where({form: form.id}).get())
      )
    )
  }
  
  let formFieldLinkedList
  function centerElem(items) {
    formFieldLinkedList = make.Scrollbox(
      make.it.flexColumn,
      make.style.gap(6)
    )
    for (const item of items) {
      formFieldLinkedList.addChild(formFieldElem(formFieldLinkedList, item))
    }
    return formFieldLinkedList
  }

  function centerComponent(formFields) {
    let acc
    return make.Div(
      make.h1("Поля формы", make.with.style({marginLeft: "6px", marginTop: "6px"})),
      make.style.height('100%'),
      make.it.flexColumn,
      make.style.gap(6),
      acc = centerElem(formFields),
    ).build()
  }

  function rightContent() {
    return make.Div(
      make.style.height('100%'),
      make.it.flexColumn,
      make.style.gap(6),
      make.h1("Доступные шаблоны"),
      make.Scrollbox(
        make.it.flexColumn,
        make.style.gap(6),
        ...fieldTypes.map((ft) => 
          make.Card(
            make.style.rounded(12),
            make.style.padding(4),
            make.it.littleDarker,
          )
          .header(
            make.style.rounded(12),
            make.style.padding(4),
            make.with.css('recolor-on-hover'),
            make.Paragraph(ft.label),
          )
          .content(
            make.Div(
              make.style.padding(8),
              make.style.rounded(12),
              make.Div(
                make.it.flexColumn,
                make.style.gap(6),
                ...make.if(fields[ft.id].length,
                  ...fields[ft.id].map((f)=>
                    make.Div(
                      make.with.style({alignItems: "center"}),
                      make.it.marginOnHover,
                      make.it.flexRow,
                      make.style.gap(6),
                      picButton("plus", "Добавить шаблон на форму", make.it.act.positive, async () => {
                        formFieldLinkedList.addChild(
                          formFieldElem(
                            formFieldLinkedList, (await qFormField.with({form: selectedFormId, field_id: f.id}).post())
                          )
                        )
                      }),
                      make.Paragraph(f.label)
                    )
                  )
                ),
                ...make.if(!fields[ft.id].length,
                  make.Paragraph("Не найдено шаблонов под данному типу")
                )
              )
            )
          )
        )
      )
    )
  }

  document.getElementById("right-content").appendChild(rightContent().build())
  document.getElementById('center-container').style.padding = '6px';
  document.getElementById("left-content").appendChild(leftContent().build())

</script>