{% load static %}

<div id="left-exit-button"></div>

<div class="content", id="left-content"></div>

<script type="module">
  //await import("{% static 'collected/static.js' %}");
  await import("{% static 'deps/make/make.js' %}");
  const imp = (await import("{% static 'deps/js/tools/import.js' %}")).default(make)
  const paragraphNotice = await imp("{% static 'deps/js/prefabs/paragraph_notice.js' %}")
  const backButton = await imp("{% static 'deps/js/prefabs/exit_button.js' %}")
  const actionNotice = await imp("{% static 'deps/js/prefabs/action_notice.js' %}")
  const popup = await imp("{% static 'deps/js/prefabs/popup.js' %}")
  const picButton = await imp("{% static 'deps/js/prefabs/pic_button.js' %}", popup, "{{ MEDIA_URL }}");

  const basicManual = await imp("{% static 'deps/js/manual/basic_manual.js' %}", popup, picButton);

  document.getElementById("left-exit-button").appendChild(backButton().build());
  const curr = make.h1('test')
  document.getElementById("left-exit-button").appendChild(basicManual(curr).build())

  const csrfObj = await make.Query('/api/csrf-token').get()
  const qBase = make.Query('/api').via({"X-CSRFToken": csrfObj.csrfToken}).view();
  const qFieldTypes = qBase.at('field-types').view();
  const fieldTypes = await qFieldTypes.get()
  const qFields = qBase.at('fields').view()
  const me = await qBase.at('me').get()
  const qEnumTags = qBase.at('enum-tags').view()
  const qEnumTagsHistory = qEnumTags.at('history').view()
  const enumTags = await qEnumTags.get()

  async function fieldComponent(field, isEnum) {
    let enabledPopup = make.Annotation(1500, 
      make.Div(
        make.it.popup,
        make.Paragraph("Нажмите на поле ввода для редактирования имени шаблона"),
        make.Paragraph("Если элемент подсвечен, то он сохранится через некоторое время"),
        make.Paragraph("Если вы перейдёте на другой элемент, то этот так же сохранится автоматически"),
      )
    )

    let enabledPopupSelect = make.Annotation(1500, 
      make.Div(
        make.it.popup,
        make.Paragraph("Нажмите для выбора группы перечислений"),
        make.Paragraph("После выбора элемент сохранится автоматически"),
      )
    )

    let disabledPopup = make.Annotation(1500, 
      make.Div(
        make.it.popup,
        make.Paragraph("Это шаблон другого отдела"),
        make.Paragraph("Вы можете его использовать, но не можете редактировать"),
      )
    )

    let tag
    if (field && field.tag !== null) {
      tag = await qEnumTagsHistory.at(field.tag.id).view().get()
    }

    let depMatch = (field.department === me.department.id)

    let inp
    let out
    out = make.Div(
      make.it.marginOnHover,
      ...make.if(isEnum,
        make.it.flexRow,
        make.style.gap(6),
      ),
      inp = make.Input(
        ...make.if(depMatch, enabledPopup),
        ...make.if(!depMatch,
          make.with.attrs("disabled"),
          disabledPopup
        ),
        make.with.attr({
          value: field.label || "",
          placeholder: field.label || "Пустое поле"
        }),
        make.on.input((e) =>
          out.element.classList.add("make-mark-changed")
        ),
        make.on.inputTimeOut(3000, () => {
          out.element.classList.remove("make-mark-changed")
          qFields.at(field.id).with({label: inp.element.value || ''}).patch()
          paragraphNotice("Сохранено!", make.color.lgreen)
        }),
        
      ),
      ...make.if(isEnum,
        make.Select(
          ...make.if(!depMatch,
            make.with.attrs("disabled"),
            disabledPopup
          ),
          ...make.if(depMatch, enabledPopupSelect),
          ...make.if(tag,
            make.Option(tag?.name, tag?.id),
            ...enumTags.map((enumTag) =>
              tag?.id !== enumTag.id && make.Option(enumTag.name, enumTag.id)
            ),
          ),
          ...make.if(!tag,
            ...enumTags.map((enumTag) =>
              make.Option(enumTag.name, enumTag.id)
            )
          ),
          make.on.change(async (e) => {
            paragraphNotice("Изменено!", make.color.lgreen)
            qFields.at(field.id).with({tag: e.target.value}).patch()
          })
        )
      )
    )
    if (isEnum) {return make.Div(out)}
    else {return out}
  }

  function setUniqueClass(element, className = 'make-mark-selected-group') {
    document.querySelectorAll(`.${className}`).forEach(el => {
        el.classList.remove(className);
    });
    element.classList.add(className);
  }

  let currentFieldType
  let fieldTemplateContainer
  document.getElementById("left-content").appendChild(
    make.Div(
      make.h1("Типы полей"),
      make.Separator(6),
      make.Scrollbox(
        make.it.flexColumn,
        make.style.gap(6),
        ...fieldTypes.map((fType) => {
          let fTypeComp
          return fTypeComp = make.Div(
            make.it.marginOnHover,
            make.style.rounded(12),
            make.style.padding(6),
            make.with.css('make-tab-button'),
            make.Paragraph(fType.label),
            make.on.click(async () => {
              if (currentFieldType === fType) { return }
              currentFieldType = fType
              setUniqueClass(fTypeComp.element)
              let center = document.getElementById('center-container')
              let fields = await qFields.where({ type: fType.id}).get()
              center.innerHTML = ''
              center.appendChild(
                make.Div(
                  make.it.flexColumn,
                  make.h1(fType.label),
                  make.Separator(6),
                  make.style.height("100%"),
                  fieldTemplateContainer = make.Scrollbox(
                    make.it.flexColumn,
                    make.style.gap(6)
                  ),
                  make.Separator(6),
                  make.Button(
                    make.with.text("Добавить новый шаблон"),
                    make.with.style({flex: 0}),
                    make.it.action,
                    make.it.act.positive,
                    make.on.click(() =>
                      actionNotice({
                        confirmText: "Создать", cancelText: "Отмена",
                        question: [
                          make.Paragraph(`Вы уверены что хотите создать новый шаблон?`),
                          make.Paragraph(`Это действие невозможно будет отменить`, make.it.textBold),
                        ],
                        action: async () => {
                          let resp = await qFields.with({type: fType.id, department: me.department.id}).post()
                          const comp = await fieldComponent(resp, fType.allow_tags)
                          fieldTemplateContainer.addChild(comp)
                        }
                      })
                    )
                  )
                ).build()
              )
              for (const f of fields) {
                const comp = await fieldComponent(f, fType.allow_tags)
                fieldTemplateContainer.addChild(comp)
              }
            })
          )      
        })
      )
    ).build()
  )
</script>
