{% load static %}

<div id="left-exit-button"></div>

<div class="content" id="left-content"></div>

<script type="module">
  //await import("{% static 'collected/static.js' %}");
  await import("{% static 'deps/make/make.js' %}");
  const imp = (await import("{% static 'deps/js/tools/import.js' %}")).default(make)
  const paragraphNotice = await imp("{% static 'deps/js/prefabs/paragraph_notice.js' %}")
  const backButton = await imp("{% static 'deps/js/prefabs/exit_button.js' %}")
  const actionNotice = await imp("{% static 'deps/js/prefabs/action_notice.js' %}")
  const popup = await imp("{% static 'deps/js/prefabs/popup.js' %}")
  const picButton = await imp("{% static 'deps/js/prefabs/pic_button.js' %}", popup, "{{ MEDIA_URL }}");

  const basicManual = await imp("{% static 'deps/js/manual/basic_manual.js' %}", popup, picButton);

  document.getElementById("left-exit-button").appendChild(backButton().build());
  const curr = make.h1('test')
  document.getElementById("left-exit-button").appendChild(basicManual(curr).build())

  const csrfObj = await make.Query('/api/csrf-token').get()
  const qBase = make.Query('/api').via({"X-CSRFToken": csrfObj.csrfToken}).view();
  const mePromise = qBase.at("me").view().get()

  const qFields = qBase.at('fields').view()
  const qFieldTypes = qBase.at('field-types').view();

  const qEnumTags = qBase.at('enum-tags').view()
  const qEnumTagsHistory = qEnumTags.at('history').view()

  const qFieldCharsets = qBase.at('field-charsets').view()
  const qFieldCharsetsHistory = qFieldCharsets.at('history').view()

  const fieldTypesPromise = qFieldTypes.get()
  const fieldTypesHistoryPromise = qFieldCharsetsHistory.get()
  
  const enumTagsPromise = qEnumTags.get()
  const enumTagsHistoryPromise = qEnumTagsHistory.get()

  const fieldCharsetsPromise = qFieldCharsets.get()
  const fieldCharsetsHistoryPromise = qFieldCharsetsHistory.get()

  let currentFieldType
  let fieldTemplateContainer

  const center = document.getElementById('center-container')

  const Row = (...mods) => make.Div(make.it.flexRow, make.style.gap(6), ...mods)
  const Column = (...mods) => make.Div(make.it.flexColumn, make.style.gap(6), ...mods)

  function enumField(field, inpField) {
    const select = make.Select()
    async function fillField() {
      const enumTags = await enumTagsPromise
      const enumTagsHistory = await enumTagsHistoryPromise
      const exists = enumTags.some(tag => tag.id === field.tag.id)
      let found
      if (!exists) { found = enumTagsHistory.find(tag => tag.id === field.tag.id) }
      select.addModifiers(
        make.OptionPlaceholder("--- выбрать перечисление ---"),
        ...make.callif(found, () => {
          inpField.addModifiers(make.with.attrs("disabled"))
          return [make.Option(found.name, found.id), make.with.attrs("disabled")]
        }),
        ...enumTags.map(tag => make.Option(tag.name, tag.id)),
        make.on.change((e) => {
          if (!found) {
            qFields.at(field.id).with({tag: e.target.value}).view().patch()
            paragraphNotice("Изменено!", make.color.green)
          }
        })
      )
    }
    function setSelected() {
      select.children.forEach((ch) => {
        if (ch.element.value == field.tag.id) {
          select.element.value = ch.element.value
        }
      })
      select.onBuild.unsub(setSelected)
    }
    select.allowEvents()
    select.onBuild.sub(() => setSelected())
    fillField()
    return select
  }

  function charsetField(field, inpField) {
    const select = make.Select()
    async function fillField() {
      const charsets = await fieldCharsetsPromise
      const charsetsHistory = await fieldCharsetsHistoryPromise
      console.log(field)

      const exists = charsets.some(set => set.id === field.charset?.id)
      let found
      if (!exists) { found = charsetsHistory.find(set => set.id === field.charset?.id) }
      select.addModifiers(
        make.OptionPlaceholder("--- выбрать набор символов ---"),
        ...make.callif(found, () => {
          inpField.addModifiers(make.with.attrs("disabled"))
          return [make.Option(found.label, found.id), make.with.attrs("disabled")]
        }),
        ...charsets.map(set => make.Option(set.label, set.id)),
        make.on.change((e) => {
          if (!found) {
            qFields.at(field.id).with({charset: e.target.value}).view().patch()
            paragraphNotice("Изменено!", make.color.green)
          }
        })
      )
    }
    function setSelected() {
      select.children.forEach((ch) => {
        if (ch.element.value == field.charset?.id) {
          select.element.value = ch.element.value
        }
      })
      select.onBuild.unsub(setSelected)
    }
    select.allowEvents()
    select.onBuild.sub(() => setSelected())
    fillField()
    return select
  }

  function labelField(field, row) {
    const input = make.Input(
      make.with.attr({
        value: field.label,
        placeholder: field.label
      }),
    )
    input.addModifiers(
      make.on.input(() => row.element.classList.add("make-mark-changed")),
      make.on.inputTimeOut(3000, () => {
        qFields.at(field.id).with({label: input.element.value}).view().patch()
        row.element.classList.remove("make-mark-changed")
        paragraphNotice("Изменено!", make.color.green)
      })
    )
    return input
  }

  function placeholderField(field, row) {
    const input = make.Input(
      make.with.attr({
        value: field.placeholder,
        placeholder: "Плейсхолдер"
      }),
    )
    input.addModifiers(
      make.on.input(() => row.element.classList.add("make-mark-changed")),
      make.on.inputTimeOut(3000, () => {
        qFields.at(field.id).with({placeholder: input.element.value}).view().patch()
        row.element.classList.remove("make-mark-changed")
        paragraphNotice("Изменено!", make.color.green)
      })
    )
    return input
  }

  function fieldFactory(field, type) {
    const row = Row(
      make.it.marginOnHover,
      make.with.style({flex: "0 0 auto"})
    )
    const inpField = labelField(field, row)
    row.addModifiers(
      inpField,
      ...make.callif(type !== "enum", () => placeholderField(field, row)),
      ...make.callif(type === "enum", () => enumField(field, inpField)),
      ...make.callif(type === "charset", () => charsetField(field, inpField)),
    )
    return row
  }

  async function fillCenter(fieldType) {
    center.innerHTML = ``
    const fields = await qFields.where({type: fieldType.id}).view().get()
    const me = await mePromise
    const scrollbox = make.Scrollbox(make.it.flexColumn, make.style.gap(6))
    console.log(fieldType)
    center.appendChild(
      Column(
        scrollbox.addModifiers(
          ...fields.map(field => fieldFactory(field, fieldType.type))
        ),
        make.Button(
          make.with.text("Добавить новый шаблон"),
          make.it.action,
          make.it.act.neutral,
          make.on.click(async () => {
            const newField = await qFields.with({
              type: fieldType.id,
              department: me.department.id
            }).view().post()
            scrollbox.addChild(
              fieldFactory(newField, fieldType.type)
            )
          })
        )
      ).build()
    )
  }
  const fieldTypes = await fieldTypesPromise
  document.getElementById('left-content').appendChild(
    Column(
      ...fieldTypes.map(fieldType => 
        make.Button(
          make.it.action,
          make.it.act.neutral,
          make.with.text(fieldType.label),
          make.on.click(() => fillCenter(fieldType))
        )
      )
    ).build()
  )
</script>
